<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false" debug="true">

	<property name="stdout.logLevel" value="TRACE" />

	<include resource="logback_include_common.xml" />
	
	<logger name="it.tecla" level="trace" />
	
	<root level="info">
		<appender-ref ref="JUL" />
		<appender-ref ref="FILE_BY_DATE" />
	</root>

</configuration>