<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE included>
<included>
	
	<insertFromJNDI env-entry-name="java:module/ModuleName" as="moduleName" />
	<contextName>${moduleName}</contextName>

	<property name="logsFolder" value="logs/${CONTEXT_NAME}" />
	<property name="maxFileSize" value="2MB" />
	<property name="maxHistory" value="365" />
	<property name="totalSizeCap" value="50MB" />
	
	<property name="pattern_compact" value="%level [%contextName] %logger - %msg" />
	<property name="pattern_full" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %level [%contextName] %logger - %msg" />
	
	<appender name="JUL" class="it.tecla.utils.logging.logback.JULAppender">
		<encoder>
			<pattern>${pattern_compact}</pattern>
		</encoder>
	</appender>
	
	<appender name="BY_DATE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${logsFolder}/current.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logsFolder}/by_date/%d{yyyy-MM}/previous/previous.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>
			<maxHistory>${maxHistory}</maxHistory>
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
		
		<encoder>
			<pattern>${pattern_full}%n</pattern>
		</encoder>
		
	</appender>
	
	<appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${logsFolder}/error.log</file>
        
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logsFolder}/error.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<pattern>${pattern_full}%n</pattern>
		</encoder>
		
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
        </filter>
		
	</appender>

</included>