<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE included>
<included>
	
	<insertFromJNDI env-entry-name="java:module/ModuleName" as="moduleName" />
	<contextName>${moduleName}</contextName>

	<property name="logsFolder" value="logs/${CONTEXT_NAME}" />
	<property name="maxFileSize" value="2MB" />
	<property name="maxHistory" value="365" />
	<property name="totalSizeCap" value="50MB" />
	
	<property name="pattern_compact" value="%level [%contextName] [%mdc{req:-no_request}] %logger{36} - %msg%n" />
	<property name="pattern_full" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %level [%contextName] [%mdc{req:-no_request}] %logger - %msg%n" />
	
	<appender name="JUL" class="it.tecla.utils.logging.logback.JULAppender">
		<encoder>
			<pattern>${pattern_compact}</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE_BY_DATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${logsFolder}/current.log</file>
		
		<encoder>
			<pattern>${pattern_full}</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logsFolder}/by_date/%d{yyyy-MM}/previous.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>
			<maxHistory>${maxHistory}</maxHistory>
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
		
	</appender>

</included>