<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE included>
<included>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">   
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
			 	<marker>SKIP_STDOUT</marker>
			</evaluator>
			<onMismatch>NEUTRAL</onMismatch>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="it.tecla.utils.logging.logback.JULFilter" />
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${stdout.minLevel}</level>
		</filter>
		<target>System.out</target>
		<encoder>
			<pattern>${pattern_compact}</pattern>
		</encoder>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">   
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
			 	<marker>SKIP_STDOUT</marker>
			</evaluator>
			<onMismatch>NEUTRAL</onMismatch>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>warn</level>
		</filter>
		<target>System.err</target>
		<encoder>
			<pattern>${pattern_full}</pattern>
		</encoder>
	</appender>
	
<!-- 	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	
<!-- 		<file>${logsFolder}/default.log</file> -->
	
<!-- 		<encoder> -->
<!-- 			<Pattern>${pattern_compact}</Pattern> -->
<!-- 		</encoder> -->

<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
<!-- 			<FileNamePattern>${logsFolder}/default.%i.log.gz</FileNamePattern> -->
<!-- 			<MinIndex>1</MinIndex> -->
<!-- 			<MaxIndex>${maxFileIndex}</MaxIndex> -->
<!-- 		</rollingPolicy> -->

<!-- 		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!-- 			<MaxFileSize>${maxFileSize}</MaxFileSize> -->
<!-- 		</triggeringPolicy> -->
<!-- 	</appender> -->

<!-- 	<appender name="FILE_BY_THREAD" class="ch.qos.logback.classic.sift.SiftingAppender"> -->

<!-- 		<discriminator class="it.tecla.utils.logging.logback.ThreadNameDiscriminator" /> -->
<!-- 		<sift> -->

<!-- 			<appender name="FILE-${threadName}" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 				<file>${logsFolder}/by_thread/${threadName}.log</file> -->

<!-- 				<encoder> -->
<!-- 					<pattern>${pattern_full}</pattern> -->
<!-- 				</encoder> -->

<!-- 				<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
<!-- 					<FileNamePattern>${logsFolder}/by_thread/${threadName}.%i.log.gz</FileNamePattern> -->
<!-- 					<MinIndex>1</MinIndex> -->
<!-- 					<MaxIndex>${maxFileIndex}</MaxIndex> -->
<!-- 				</rollingPolicy> -->

<!-- 				<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!-- 					<MaxFileSize>${maxFileSize}</MaxFileSize> -->
<!-- 				</triggeringPolicy> -->

<!-- 			</appender> -->

<!-- 		</sift> -->
<!-- 	</appender> -->
	
	<appender name="FILE_BY_DATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${logsFolder}/current.log</file>
		
		<encoder>
			<pattern>${pattern_full}</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logsFolder}/by_date/%d{yyyy-MM}/previous.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>
			<maxHistory>${maxHistory}</maxHistory>
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
		
	</appender>
	
	<appender name="SMTP" class="ch.qos.logback.classic.net.SMTPAppender">
	
		<!-- EMAIL con controllo giornaliero https://logback.qos.ch/manual/appenders.html#TriggeringEvent -->

		<discriminator class="it.tecla.utils.logging.logback.ThreadNameDiscriminator" />
		
		<subject>${smtp.subject}</subject>
		<sessionViaJNDI>true</sessionViaJNDI>
		<jndiLocation>${smtp.jndi}</jndiLocation>
		<to>${smtp.to}</to>
		
		<layout class="ch.qos.logback.classic.html.HTMLLayout"></layout>
		
	</appender>

</included>