<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false" debug="true">

	<include resource="logback_include.xml" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="it.tecla.utils.logging.logback.JULFilter" />
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<target>System.out</target>
		<encoder>
			<pattern>${pattern_compact}</pattern>
		</encoder>
	</appender>

</configuration>