<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE included>
<included>
	
	<insertFromJNDI env-entry-name="java:module/ModuleName" as="moduleName" />
	<contextName>${moduleName}</contextName>

	<property resource="application.properties" />

	<property name="logsFolder" value="${logging.logsFolder:-logs/${CONTEXT_NAME}}" />
	<property name="maxFileSize" value="${logging.maxFileSize:-2MB}" />
	<property name="maxFileIndex" value="${logging.maxFileIndex:-10}" />
	
	<property name="stdout.minLevel" value="${logging.stdout.minLevel:-INFO}" />
	
	<property name="smtp.to" value="${logging.smtp.to:-n.chieffo@tecla.it}" />
	<property name="smtp.jndi" value="${logging.smtp.jndi:-mail/smtp}" />
	<property name="smtp.subject" value="${logging.smtp.subject:-${HOSTNAME} -- ${CONTEXT_NAME} -- ERROR!}" />
	
	<property name="pattern_compact" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%contextName] %-5level {%X{req}} %logger - %msg%n" />
	<property name="pattern_full" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%contextName] %-5level {%mdc} %logger - %msg%n" />
	
	<logger name="it.tecla" level="trace" />

</included>