<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false" debug="true">

	<include resource="logback_include_properties.xml" />
	<include resource="logback_include_appenders.xml" />
	
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
<!-- 		<appender-ref ref="FILE" /> -->
<!-- 		<appender-ref ref="FILE_BY_THREAD" /> -->
		<appender-ref ref="FILE_BY_DATE" />
<!-- 		<appender-ref ref="SMTP" /> -->
	</root>

</configuration>