<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE included>
<included>

	<property resource="application.properties" />

	<property name="logsFolder" value="${logging.logsFolder:-logs/${CONTEXT_NAME}}" />
	<property name="maxFileSize" value="${logging.maxFileSize:-10MB}" />
	
	<property name="pattern_full" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%contextName] %level {%mdc} %logger{35} - %msg%n" />
	<property name="pattern_compact" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%contextName] %level {%X{req.compact}} %logger{35} - %msg%n" />
	
	<contextName>${appName}</contextName>

</included>