<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE included>
<included>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>warn</level>
		</filter>
		<target>System.err</target>
		<encoder>
			<pattern>${pattern_full}</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	
		<file>${logsFolder}/all.log</file>
	
		<encoder>
			<Pattern>${pattern_compact}</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${logsFolder}/${logFileName}.%i.log.gz</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${maxFileSize}</MaxFileSize>
		</triggeringPolicy>
	</appender>

<!-- 	<appender name="THREAD_FILE" class="ch.qos.logback.classic.sift.SiftingAppender"> -->

<!-- 		<discriminator> -->
				<!-- va settato MDC.put("logFileName", "nomeFile") -->
<!-- 			<key>logFileName</key> -->
<!-- 			<defaultValue>default</defaultValue> -->
<!-- 		</discriminator> -->

<!-- 		<sift> -->

<!-- 			<appender name="FILE-${logFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 				<file>${logsFolder}/${logFileName}.log</file> -->

<!-- 				<encoder> -->
<!-- 					<pattern>%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %level %logger{35} - %msg%n</pattern> -->
<!-- 				</encoder> -->

<!-- 				<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
<!-- 					<FileNamePattern>${logsFolder}/${logFileName}.%i.log.gz</FileNamePattern> -->
<!-- 					<MinIndex>1</MinIndex> -->
<!-- 					<MaxIndex>10</MaxIndex> -->
<!-- 				</rollingPolicy> -->

<!-- 				<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!-- 					<MaxFileSize>${maxFileSize}</MaxFileSize> -->
<!-- 				</triggeringPolicy> -->

<!-- 			</appender> -->

<!-- 		</sift> -->
<!-- 	</appender> -->

</included>