<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false">

	<property name="stdout.logLevel" value="INFO" />

	<include resource="logback_include_common.xml" />
	
	<logger name="it.tecla" level="trace" />
	
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
		<appender-ref ref="FILE_BY_DATE" />
	</root>

</configuration>